body {
  margin: 0;
  background-image: url(../img/porto-alegre.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 100%;
  padding: 15px 0;
  border-bottom: 5px solid darkblue;
  background-color: skyblue;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: "Julius Sans One", sans-serif;
  color: darkblue;
}

main {
  text-align: center;
}

p {
  padding: 20px 40px 20px;
  border-radius: 30px;
  margin: 15px 150px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: justify;
  font-size: large;
}

.paragrafo {
  background-color: lightskyblue;
}

iframe {
  width: 1280px;
  height: 720px;
}

section {
  width: 70%;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 15px auto 0;
  background-color: rgba(255, 255, 255, 0.7);
}

h2 {
  color: darkblue;
}

ul {
  padding: 0 50px;
}

li {
  padding: 5px;
  margin: 0 auto;
  list-style: circle;
  text-align: justify;
  font-size: large;
}

.lista {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

img {
  width: 60px;
  padding: 20px;
}
